<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="port" value="55556"/>
        <add key="ip" value="127.0.0.1"/>
    </appSettings>
    <connectionStrings>
        <clear />
        <add name="travel_agency"
             providerName="System.Data.SQLite"
             connectionString="Data Source=C:\Users\otili\Desktop\MPP\mpp-proiect-csharp-OtiliaN\TravelAgency\TravelServer\resources\travel_agency.db"/>
    </connectionStrings>
</configuration>
    
